<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Matrimony
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-icon name="arrow-back"></ion-icon>
    <span>Daily Recommendations</span>
  </div>
 <ion-card *ngFor="let item of customer" [style.position]="'absolute'">
   <img [src]="item.img"  [style.width]="'100%'" class="img">
   <ion-card-header>
     <ion-card-title>{{item.name}}</ion-card-title>
     <ion-card-title>{{item.details}}</ion-card-title>
     <ion-card-title>{{item.otherdetails}}</ion-card-title>
   </ion-card-header>
   <ion-button class="view"  routerLink="/view">view</ion-button>
 </ion-card>
 
</ion-content>
